<!-- Scripts -->
<script src="/js/highlight.pack.js"></script>

<!-- This is called by default since this theme uses highlight.js -->
<script>hljs.initHighlightingOnLoad();</script>
<!--[if lte IE 8]><script src="/js/ie/respond.min.js"></script><![endif]-->
