<aside class="col-sm-4 blog-sidebar">
  {{ if isset .Site.Params.sidebar "about" }}
  <section class="sidebar-module sidebar-module-inset">
    <h4>{{ i18n "about" }}</h4>
    <p>{{ .Site.Params.sidebar.about | markdownify }}</p>
  </section>
  {{ end }}

  {{ $num_recent_posts := (index .Site.Params.sidebar "num_recent_posts" | default 5) }}

  <section class="sidebar-module">
    <h4>{{ i18n "recentPosts" }}</h4>
    <ol class="list-unstyled">
      {{ range first $num_recent_posts (where .Site.Pages "Type" "post") }}
      <li><a href="{{.Permalink}}">{{.Title | markdownify }}</a></li>
      {{ end }}
    </ol>
  </section>

  {{ with .Site.Menus.images }}
    {{ range . }}
    <section class="sidebar-module">
      <h4>{{ .Name }}</h4>
      <img src="{{ .URL | absURL }}"/>
    </section>
    {{ end }}
  {{ end }}

  {{ with .Site.Menus.sidebar }}
  <section class="sidebar-module">
    <h4>Links</h4>
    <ol class="list-unstyled">
      {{ range . }}
      <li><a href="{{ .URL | absURL }}">{{ .Name }}</a></li>
      {{ end }}
    </ol>
  </section>
  {{ end }}
</aside><!-- /.blog-sidebar -->

{{- /* vim: set ts=2 sw=2 et: */}}
