/*
 * From the Bootstrap v4 alpha blog example
 * See: http://v4-alpha.getbootstrap.com/examples/blog/blog.css
 */

/*
 * Globals
 */

/*@media (min-width: 48em) {
  html {
    font-size: 18px;
  }
}*/

body {
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: normal;
  color: #333;
  a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
  }
}


/*
 * Override Bootstrap's default container.
 */

.container {
  max-width: 60rem;
}


/*
 * Masthead for nav
 */

.blog-masthead {
  margin-bottom: 2rem;
  background-color: #f9f9f9;
  -webkit-box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
          box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);
}

/* Nav links */
.nav-link {
  position: relative;
  padding: 0.5rem;
  font-weight: 500;
  color: gray;
}
.nav-link:hover,
.nav-link:focus {
  color: #000;
  background-color: transparent;
}

/* Active state gets a caret at the bottom */
.nav-link.active {
  color: #000;
}
.nav-link.active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -.3rem;
  vertical-align: middle;
  content: "";
  border-right: .3rem solid transparent;
  border-bottom: .3rem solid;
  border-left: .3rem solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
  padding-bottom: 1.25rem;
  margin-bottom: 2rem;
  border-bottom: .05rem solid #eee;
}
.blog-title {
  margin-bottom: 0;
  font-size: 9vw;
  font-weight: bold;
  //letter-spacing: 0.1em;
  & span {
    display: inline-block;
    vertical-align: middle;
    color: #ff4136; //$brand-primary;
    font-size: 50%;
  }
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
}


/*
 * Main column and sidebar layout
 */

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 1rem;
  /*margin: 0 -1rem 1rem;*/
}
.sidebar-module-inset {
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: .25rem;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 4rem;
  overflow-x: hidden;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}
article img {
  max-width: 100%;
  height: auto;
  margin: 13px auto;
}

/*
 * Footer
 */

.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

/* extra */
.html-widget { max-width: 100%; }
.figure>.caption { text-align: center; }
/*a {
  color: #c60000;
  &:hover, &:focus {
    color: red;
  }
}*/


