// ie9 is minimum supported by Bootstrap v4 and it doesn't support flexbox
$enable-flex:               false;
$enable-grid-classes:       true;
$brand-primary: #e74c3c; //#ff4136;
$font-size-base: 1rem;

// optional: import local styles last to override
@import 'source/scss/main.scss';

// selectively import components we need from font-awesome
// see: node_modules/font-awesome/scss/font-awesome.scss
@import 'source/scss/font-awesome.scss';

// selectively import components we need from bootstrap
// see: node_modules/bootstrap/scss/bootstrap.scss
@import 'source/scss/bootstrap.scss';

